<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSLocationWhenInUseUsageDescription</key>
			<string>Real Stats will use location to look for nearby stations. Real Stats does not collect any user data.</string>
		</dict>
	</array>
</dict>
</plist>
